<mat-card>
  <mat-card-title>Saida de Produto</mat-card-title>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input type="text"
               placeholder="Escolha uma opção"
               aria-label="Descricão"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option.descricao">
            {{option.descricao}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input matInput type="number"  name="quantidade" [(ngModel)]= "quantidade">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Valor de Venda</mat-label>
        <input matInput type="number"  name="venda" [(ngModel)]= "venda">
      </mat-form-field>
    </form>

  <button mat-raised-button color="primary" (click)="saidaProduto()">
    Salvar
  </button>
  <button mat-raised-button  color="default" (click)="cancel()">
    Cancelar
  </button>
</mat-card>
